@import "../../../assets/styles/mixins.scss";
@import "../../../assets/styles/variables.scss";

.header {
	@include flex-between;
	align-items: center;
	padding: $spacing-md;
	border-bottom: 1px solid $light-blue;

	.title,
	.date {
		font-weight: 700;
	}

	.title {
		text-transform: uppercase;
	}
}
