@import "./mixins.scss";
@import "./variables.scss";

html {
	font-family: "Roboto", sans-serif;
}
body {
	@include container;

	color: $dark-blue;
}

main {
	@include flex-col;
	justify-content: space-between;
	min-height: 100dvh;
}
