@import "./variables.scss";

@mixin container {
	margin: 0 auto;
	max-width: $container-width-regular;
}

@mixin flex-between {
	display: flex;
	justify-content: space-between;
}

@mixin flex-col {
	display: flex;
	flex-direction: column;
}

@mixin mobile {
	@media (max-width: $breakpoint-mobile) {
		@content;
	}
}
