//CONTAINER SIZES:
$container-width-regular: 75rem;

//SPACING:
$spacing-md: 1rem;
$spacing-xl: 3rem;
$spacing-xxl: 6rem;

//COLORS:
$dark-blue: #1f344d;
$medium-blue: #60b4e5;
$light-blue: #eff8fc;

$accent-yellow: #f6d15c;

$neutral-white: #fff;
