@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/variables.scss";

.wrapper {
	@include container;
	padding: $spacing-xl 0;
	position: relative;
	width: 100%;
	min-height: 50dvh;

	.loader {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.errorbox {
		position: absolute;
		top: 0;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);
	}
}
